            @font-face {
                font-family: 'SwanseaBold';
                src: url('media/swansea-font/SwanseaBold-D0ox.ttf') format('truetype');
                font-weight: 1200;


            }
            @font-face {
                font-family: 'SwanseaItaliBold';
                src: url('Media/swansea-font/SwanseaBoldItalic-p3Dv.ttf') format('truetype');
                font-weight: 700;


            }
            /* #c2ae93; */
            /* 1D546D */
            /* background-color:#37353E; */
            body{font-family:"Rubik"; background-size:cover;background-image:url('media/Image1.gif');background-attachment:fixed; color: #e1e1d1;}
            .navbar-brand{font-size:40px;}
            .navbar{font-size:30px;}
            .custom1{background-color:#982323;color: #b4b48f;}
            .custom2{background-color:#9b1009;color: #b4b48f;}
            .rubik-glitch-pop{font-family: "Rubik Glitch Pop";font-weight: 400;color: #fffff2;}x
            .swansea{font-family: "SwanseaBold";font-weight: 100;}
            .swansea-big{font-size:clamp(3rem,15vw,9rem);font-family: "SwanseaBold";font-weight: 100;}
            .cadence-card{transition: transform 0.4s ease, box-shadow 0.5s ease;background-color:#D9A2D9}
            .cadence-card:hover{transform: translateY(-10px);box-shadow: 0px 10px 20px rgba(0,0,0,0.5); cursor:pointer;}
            .landing{height:100vh;background-size:cover; background-image:url('media/Image1.gif');background-repeat:no-repeat;}
            .hidden{display: none !important;}
            .display-text{font-family:"Swansea";font-size:clamp(3rem,15vw,9rem);}
            .swanseaItaliBold{font-family:"SwanseaItaliBold";font-size:clamp(3rem,15vw,9rem);color:aliceblue;}
            /* https://css.glass/ */
            .glass{background: rgba(246, 142, 142, 0.45);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    border: 1px solid rgba(250, 189, 189, 0.5);
                    
                    
                }
                    
            .glass:hover{background: rgba(144, 123, 240, 0.3);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    border: 1px solid rgba(169, 154, 234, 0.5);}

            .transparent{background-color:transparent;border-color:transparent;}
            .cadence-btn{padding:15px;padding-left:30px;padding-right:45px;box-shadow: 6px 6px 0px #000;transition: all 0.15; position:relative;}
            .cadence-btn:hover{transform: translate(-2px,-2px);box-shadow:8px 8px 0px #000;}
            .cadence-btn:active{transform: translate(4px, 4px);box-shadow:1px 1px 0px #000;}